<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Create Account</title>
  </head>
  <body class=" text-center">
  {% with messages = get_flashed_messages() %}  
    {% if messages %}  
          {% for message in messages %}  
               <p>{{ message }}</p>  
          {% endfor %}  
    {% endif %}  
 {% endwith %}

 <h1> Address </h1>
 {% for info in data %}
 <div><p>{{ info.first_name }}</p></div>
 <div><p>{{ info.last_name }}</p></div>
 <div><p>{{ info.phone }}</p></div>
 <div><p>{{ info.email }}</p></div>
 {% endfor %}
  </body>
  </html>